
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "vars";

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: '', sans-serif;
}

li {
  list-style: none;

}a {
  text-decoration: none;
}
i {
  display: inline-block;
}

.cubeWhiteColor {
  color: $cube_white;
}

.standardTransition {
  transition: all 0.2s linear 0.1s;
}