
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "vars";

// Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;1,100;1,400;1,700;1,800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Poppins', sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;

}
i {
  display: inline-block;
  font-weight: bold;
}

.cubeWhiteColor {
  color: $cube_white;
}

.standardTransition {
  transition: all 0.2s linear 0.1s;
}

.center-absolute{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

.responsive-container {
  width: 70%;

  @media (max-width: $large) {
    & {
      width: 80% !important;

      @media (max-width: $medium) {
        & {
          width: 90% !important;

          @media (max-width: $tablet) {
            & {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}