
@import "vars";
@import "mixins";
// Font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;0,800;1,100;1,400;1,700;1,800&display=swap');
// Icons
@import '~@fortawesome/fontawesome-free/css/all.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
// Reset 2
li {
  list-style: none;
}
a {
  text-decoration: none;
}
i {
  display: inline-block;
  @extend .bold;
}

// ******** Regole Comuni ***********
html {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow: overlay;
}
.m-auto {
  margin: auto;
}
.pos-relative {
  position: relative;
}
.center-absolute{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Text
.bold {
  font-weight: bold;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.t-align-c{
  text-align: center;
}
.t-align-l{
  text-align: left;
}

// Colors & Styles
.sticky-shadow {
  box-shadow: 0 0 7px $dark_color;
}
.standardTransition {
  transition: all 0.2s linear 0.1s;
}
.standard-hover {
  @extend .standardTransition;
  color: $cube_mountain_meadow;
  transform: scale(1.3);
}
.footer-links-style {
  color: $cube_dove_gray;
  text-shadow: 0 0 1px  $dark_color;
}
.primary-bg-color {
  background-color: $cube_silver;
}
.sec-bg-color {
  background-color: $material_corduray;
}
.cubeWhiteColor {
  color: $cube_white;
}

// ScrollBar
::-webkit-scrollbar-track {
  background-color: $transparent;
  border-radius: 10px;
}
::-webkit-scrollbar {
  width: 13px;
  background-color: $transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: $transparent;
  -webkit-box-shadow: inset 0 0 6px $dark_color;
  background-image: -webkit-gradient(linear, 40% 0%, 75% 84%, from($cube_port_gore), to($median_rhino), color-stop(.6,$material_blue_marguerite))
}
