
// ****************** Display Flex ******************
@mixin d-flex($wrap:'no', $justify:undefined, $align:undefined) {

  display: flex;

  // Wrap
  @if $wrap == 'wrap' {
    flex-wrap: wrap;
  } @else if $wrap == 'no' {
    flex-wrap: nowrap;
  }

  // Justify
  @if $justify == 'space-around' {
    justify-content: space-around;
  } @else if $justify == 'center' {
    justify-content: center;
  } @else if $justify == 'space-between' {
    justify-content: space-between;
  } @else if $justify == 'start' {
    justify-content: flex-start;
  } @else if $justify == 'end' {
    justify-content: flex-end;
  }

  // Align
  @if $align == 'baseline' {
    align-items: baseline;
  } @else if $align == 'center' {
    align-items: center;
  } @else if $align == 'start' {
    align-items: flex-start;
  } @else if $align == 'end' {
    align-items: flex-end;
  }
}

// ****************** Container Responsive *******************
@mixin responsive-container($initialSize) {
  width: $initialSize;
  @extend .m-auto;

  @media (max-width: $large) {
    & {
      width: $initialSize +10;

      @media (max-width: $medium) {
        & {
          width: $initialSize +20;

          @media (max-width: $tablet) {
            & {
              width: $initialSize +30;
              max-width: 100%;
              padding: 0 2rem;
            }
          }
        }
      }
    }
  }
}
