// Breakpoints
$mobile: 480px;
$tablet: 768px;
$medium: 960px;
$large: 1300px;

//***********Color Palette************

//Cube
$cube_white: #ffffff;
$cube_port_gore: #1f2154;
$cube_silver: #cecece;
$cube_mountain_meadow: #1fad96;
$cube_texas_rose: #febc4d;
$cube_dove_gray: #6c6c6c;
$cube_mandy: #e25a6d;
$cube_royal_blue: #7355e7;
$cube_thunderbird: #cc1b17;
$cube_dodger_blue: #1f9efb;

// Median
$median_rhino: #5b628e;
$median_hint_of_red: #f6f3f6;
$median_coral_tree: #a65e6d;
$median_gray_chateau: #9da1aa;
$median_anzac: #e2a957;

// Material
$material_blue_marguerite: #6a5ad0;
$material_shady_lady: #9b999b;
$material_jungle_green: #27ab94;
$material_corduray: #dcece4;
$material_ronchi: #efb056;

// Altri
$dark_color: #000000;
$transparent: #ffffff00;

